build --action_env=PYTHON_BIN_PATH=/usr/bin/python3
build --action_env=BAZEL_CXXOPTS=-std=c++17
build --cxxopt "-std=c++17"
build --copt "-Wno-sign-compare"
build --copt "-Wno-comment"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-comment"
build -c opt
test --test_output=errors
